<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BBEditDocumentType</key>
	<string>CodelessLanguageModule</string>
	<key>BBLMLanguageDisplayName</key>
	<string>Burroughs ALGOL</string>
	<key>BBLMLanguageCode</key>
	<string>BALG</string>
	<key>BBLMSuffixMap</key>
	<array>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.alg</string>
		</dict>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.algol</string>
		</dict>
	</array>
	<key>BBLMIsCaseSensitive</key>
	<false/>
	<key>BBLMKeywordList</key>
	<array>
		<string>ABORT</string>
		<string>ABORTTRANSACTION</string>
		<string>ABS</string>
		<string>ACCEPT</string>
		<string>ACCEPTCLOSE</string>
		<string>ACCEPTOPEN</string>
		<string>ACTUALNAME</string>
		<string>AFTER</string>
		<string>ALL</string>
		<string>ALPHA</string>
		<string>ALPHA7</string>
		<string>ALPHA8</string>
		<string>AND</string>
		<string>ANY</string>
		<string>ANYFAULT</string>
		<string>ANYTYPE</string>
		<string>APPLYINSERT</string>
		<string>APPLYMODIFY</string>
		<string>ARCCOS</string>
		<string>ARCSIN</string>
		<string>ARCTAN</string>
		<string>ARCTAN2</string>
		<string>ARRAY</string>
		<string>ARRAYS</string>
		<string>ARRAYSEARCH</string>
		<string>AS</string>
		<string>ASCII</string>
		<string>ASCIITOEBCDIC</string>
		<string>ASCIITOHEX</string>
		<string>ASSIGN</string>
		<string>ASSOCIATEDDATA</string>
		<string>ASSOCIATAEDDATALENGTH</string>
		<string>ATANH</string>
		<string>ATEND</string>
		<string>ATTACH</string>
		<string>ATTRIBINFORMER</string>
		<string>ATTRIBSEARCHER</string>
		<string>AVAILABLE</string>
		<string>AWAITOPEN</string>
		<string>BACKUPPREFIX</string>
		<string>BASE</string>
		<string>BEFORE</string>
		<string>BEGIN</string>
		<string>BEGINTRANSACTION</string>
		<string>BINARY</string>
		<string>BLOCK</string>
		<string>BOOLEAN</string>
		<string>BUILDATTLIST</string>
		<string>BY</string>
		<string>BYFUNCTION</string>
		<string>BYTITLE</string>
		<string>CABS</string>
		<string>CALL</string>
		<string>CALLING</string>
		<string>CANCEL</string>
		<string>CANCELTRPOINT</string>
		<string>CASE</string>
		<string>CAT</string>
		<string>CAUSE</string>
		<string>CAUSEANDRESET</string>
		<string>CCOS</string>
		<string>CEXP</string>
		<string>CHANGEFILE</string>
		<string>CHARGECODE</string>
		<string>CHECKPOINT</string>
		<string>CHECKSUM</string>
		<string>CLASS</string>
		<string>CLN</string>
		<string>CLOSE</string>
		<string>CLOSEDISPOSITION</string>
		<string>CODE</string>
		<string>COMBINEPPBS</string>
		<string>COMMENT</string>
		<string>COMPILETIME</string>
		<string>COMPILETYPE</string>
		<string>COMPLEX</string>
		<string>COMSRECORD</string>
		<string>CONJUGATE</string>
		<string>CONNECTTIMELIMIT</string>
		<string>CONNECTION</string>
		<string>CONTINUE</string>
		<string>CONTROL</string>
		<string>COREESTIMATE</string>
		<string>COS</string>
		<string>COSH</string>
		<string>COTAN</string>
		<string>CREATE</string>
		<string>CRUNCH</string>
		<string>CSIN</string>
		<string>CSQRT</string>
		<string>CURRENT</string>
		<string>DABS</string>
		<string>DALPHA</string>
		<string>DAND</string>
		<string>DARCCOS</string>
		<string>DARCSIN</string>
		<string>DARCTAN</string>
		<string>DARCTAN2</string>
		<string>DATABASE</string>
		<string>DBS</string>
		<string>DCOS</string>
		<string>DCOSH</string>
		<string>DCSYSTEMTABLES</string>
		<string>DEALLOCATE</string>
		<string>DECIMAL</string>
		<string>DECIMALPOINTISCOMMA</string>
		<string>DECLAREDPRIORITY</string>
		<string>DEFINE</string>
		<string>DELINKLIBRARY</string>
		<string>DELTA</string>
		<string>DEQV</string>
		<string>DERF</string>
		<string>DERFC</string>
		<string>DETACH</string>
		<string>DEXP</string>
		<string>DGAMMA</string>
		<string>DICTIONARY</string>
		<string>DIGITS</string>
		<string>DIMP</string>
		<string>DINTEGER</string>
		<string>DINTEGERT</string>
		<string>DIRECT</string>
		<string>DISABLE</string>
		<string>DISCARD</string>
		<string>DISK</string>
		<string>DISKPACK</string>
		<string>DISPLAY</string>
		<string>DIV</string>
		<string>DLGAMMA</string>
		<string>DLN</string>
		<string>DLOG</string>
		<string>DMABS</string>
		<string>DMADD_DAYS</string>
		<string>DMADD_TIME</string>
		<string>DMAVG</string>
		<string>DMAX</string>
		<string>DMCHR</string>
		<string>DMCONTAINS</string>
		<string>DMCOUNT</string>
		<string>DMDAY</string>
		<string>DMDAY_OF_WEEK</string>
		<string>DMELAPSED_DAYS</string>
		<string>DMELAPSED_TIME</string>
		<string>DMEQUIV</string>
		<string>DMEXCEPTIONINFO</string>
		<string>DMEXCEPTIONMSG</string>
		<string>DMEXCLUDES</string>
		<string>DMEXITS</string>
		<string>DMEXT</string>
		<string>DMHOUR</string>
		<string>DMIN</string>
		<string>DMISA</string>
		<string>DMLENGTH</string>
		<string>DMMATCH</string>
		<string>DMMAX</string>
		<string>DMMIN</string>
		<string>DMMINUTE</string>
		<string>DMMONTH</string>
		<string>DMMONTHNAME</string>
		<string>DMNEXTEXCEPTION</string>
		<string>DMPOS</string>
		<string>DMPRED</string>
		<string>DMRECORD</string>
		<string>DMROUND</string>
		<string>DMRPT</string>
		<string>DMSQRT</string>
		<string>DMSUCC</string>
		<string>DMSUM</string>
		<string>DMTERMINATE</string>
		<string>DMTEST</string>
		<string>DMTRUNC</string>
		<string>DMYEAR</string>
		<string>DNABS</string>
		<string>DNORMALIZE</string>
		<string>DNOT</string>
		<string>DO</string>
		<string>DONTWAIT</string>
		<string>DONTWAITFORFILE</string>
		<string>DOR</string>
		<string>DOUBLE</string>
		<string>DREAL</string>
		<string>DROP</string>
		<string>DSCALELEFT</string>
		<string>DSCALERIGHT</string>
		<string>DSCALERIGHTT</string>
		<string>DSIN</string>
		<string>DSINH</string>
		<string>DSQRT</string>
		<string>DTAN</string>
		<string>DTANH</string>
		<string>DUMP</string>
		<string>EBCDIC</string>
		<string>EBCDICTOASCII</string>
		<string>EBCDICTOHEX</string>
		<string>EGI</string>
		<string>ELAPSEDTIME</string>
		<string>ELSE</string>
		<string>EMI</string>
		<string>EMPTY</string>
		<string>EMPTY4</string>
		<string>EMPTY7</string>
		<string>EMPTY8</string>
		<string>ENABLE</string>
		<string>END</string>
		<string>ENDTRANSACTION</string>
		<string>ENTIER</string>
		<string>ENTITY</string>
		<string>EPILOG</string>
		<string>EQL</string>
		<string>EQV</string>
		<string>ERF</string>
		<string>ERFC</string>
		<string>ESI</string>
		<string>EVENT</string>
		<string>EXCEPTION</string>
		<string>EXCEPTIONEVENT</string>
		<string>EXCEPTIONTASK</string>
		<string>EXCHANGE</string>
		<string>EXCLUDE</string>
		<string>EXISTS</string>
		<string>EXP</string>
		<string>EXPONENTOVERFLOW</string>
		<string>EXPONENTUNDERFLOW</string>
		<string>EXPORT</string>
		<string>EXPORTLIBRARY</string>
		<string>EXTERNAL</string>
		<string>FALSE</string>
		<string>FAMILY</string>
		<string>FILE</string>
		<string>FILECARDS</string>
		<string>FILES</string>
		<string>FILL</string>
		<string>FIND</string>
		<string>FIRST</string>
		<string>FIRSTONE</string>
		<string>FIRSTWORD</string>
		<string>FIX</string>
		<string>FOR</string>
		<string>FORMAL</string>
		<string>FORMAT</string>
		<string>FORMRECORDLIBRARY</string>
		<string>FORWARD</string>
		<string>FREE</string>
		<string>FREEZE</string>
		<string>FROM</string>
		<string>FUNCTIONNAME</string>
		<string>GAMMA</string>
		<string>GEQ</string>
		<string>GET</string>
		<string>GO</string>
		<string>GTR</string>
		<string>HAPPENED</string>
		<string>HEAD</string>
		<string>HEX</string>
		<string>HEXTOASCII</string>
		<string>HEXTOEBCDIC</string>
		<string>HISTORY</string>
		<string>IF</string>
		<string>IMAG</string>
		<string>IMP</string>
		<string>IMPORTED</string>
		<string>IN</string>
		<string>INCLUDE</string>
		<string>INITIATOR</string>
		<string>INPUTHEADER</string>
		<string>INSERT</string>
		<string>INSERT_CLIENTQUEUE</string>
		<string>INTEGER</string>
		<string>INTEGEROVERFLOW</string>
		<string>INTEGERT</string>
		<string>INTERFACENAME</string>
		<string>INTERLOCK</string>
		<string>INTERRUPT</string>
		<string>INTERRUPTIBLE</string>
		<string>INTNAME</string>
		<string>INTRINSICINFO</string>
		<string>INVALIDADDRESS</string>
		<string>INVALIDINDEX</string>
		<string>INVALIDOP</string>
		<string>INVALIDPROGRAMWORD</string>
		<string>INVERSE</string>
		<string>IS</string>
		<string>ISNT</string>
		<string>ISVALID</string>
		<string>JOBNUMBER</string>
		<string>LABEL</string>
		<string>LAST</string>
		<string>LB</string>
		<string>LENGTH</string>
		<string>LEQ</string>
		<string>LIBACCESS</string>
		<string>LIBERATE</string>
		<string>LIBPARAMETER</string>
		<string>LIBRARIES</string>
		<string>LIBRARY</string>
		<string>LINE</string>
		<string>LINENUMBER</string>
		<string>LINKLIB_CLIENTQUEUE</string>
		<string>LINKLIBRARY</string>
		<string>LIST</string>
		<string>LISTLOOKUP</string>
		<string>LN</string>
		<string>LNGAMMA</string>
		<string>LOCK</string>
		<string>LOCKED</string>
		<string>LOCKOWNER</string>
		<string>LOCKSTATUS</string>
		<string>LOG</string>
		<string>LONG</string>
		<string>LOOP</string>
		<string>LSS</string>
		<string>MASKSEARCH</string>
		<string>MAX</string>
		<string>MAXIOTIME</string>
		<string>MAXLINES</string>
		<string>MAXPROCTIME</string>
		<string>MEMORYPARITY</string>
		<string>MEMORYPROTECT</string>
		<string>MERGE</string>
		<string>MESSAGECOUNT</string>
		<string>MESSAGESEARCHER</string>
		<string>MIDTRANSACTION</string>
		<string>MIDTRANSLATE</string>
		<string>MIN</string>
		<string>MLSACCEPT</string>
		<string>MLSDISPLAY</string>
		<string>MOD</string>
		<string>MODIFY</string>
		<string>MONITOR</string>
		<string>MUX</string>
		<string>MYJOB</string>
		<string>MYSELF</string>
		<string>NABS</string>
		<string>NAME</string>
		<string>NEQ</string>
		<string>NO</string>
		<string>NOCR</string>
		<string>NOLF</string>
		<string>NONE</string>
		<string>NORMALIZE</string>
		<string>NOT</string>
		<string>NULL</string>
		<string>NUMBER</string>
		<string>NUMERIC</string>
		<string>OF</string>
		<string>OFFER</string>
		<string>OFFSET</string>
		<string>ON</string>
		<string>ONES</string>
		<string>OPEN</string>
		<string>OPTION</string>
		<string>OR</string>
		<string>ORDER</string>
		<string>ORDERLY</string>
		<string>ORGUNIT</string>
		<string>OUT</string>
		<string>OUTPUTHEADER</string>
		<string>OUTPUTMESSAGE</string>
		<string>OWN</string>
		<string>PACK</string>
		<string>PAGE</string>
		<string>PAGED</string>
		<string>PARTICIPATE</string>
		<string>PARTNER</string>
		<string>PENDING</string>
		<string>PERMANENT</string>
		<string>PICTURE</string>
		<string>POINTER</string>
		<string>POTC</string>
		<string>POTH</string>
		<string>POTL</string>
		<string>PRIVATE</string>
		<string>PRIVATELIBRARIES</string>
		<string>PROCEDURE</string>
		<string>PROCESS</string>
		<string>PROCESSID</string>
		<string>PROCESSIOTIME</string>
		<string>PROCESSTIME</string>
		<string>PROCURE</string>
		<string>PRODUCTION</string>
		<string>PROGRAMDUMP</string>
		<string>PROGRAMMEDOPERATOR</string>
		<string>PROLOG</string>
		<string>PUBLIC</string>
		<string>PURGE</string>
		<string>PUT</string>
		<string>QUERY</string>
		<string>RANDOM</string>
		<string>RB</string>
		<string>READ</string>
		<string>READFORM</string>
		<string>READLOCK</string>
		<string>READONLY</string>
		<string>READWRITE</string>
		<string>READYCL</string>
		<string>REAL</string>
		<string>RECEIVE</string>
		<string>RECORD</string>
		<string>RECREATE</string>
		<string>REEL</string>
		<string>REFERENCE</string>
		<string>REJECTCLOSE</string>
		<string>REJECTOPEN</string>
		<string>REMAININGCHARS</string>
		<string>REMOVE</string>
		<string>REMOVEFILE</string>
		<string>REPEAT</string>
		<string>REPLACE</string>
		<string>RESET</string>
		<string>RESIDENT</string>
		<string>RESIZE</string>
		<string>RESPOND</string>
		<string>RESPONDTYPE</string>
		<string>RESTART</string>
		<string>RETAIN</string>
		<string>RETRIEVE</string>
		<string>RETRIEVE_WARNING</string>
		<string>REWIND</string>
		<string>RUN</string>
		<string>SAVETRPOINT</string>
		<string>SCALELEFT</string>
		<string>SCALERIGHT</string>
		<string>SCALERIGHTF</string>
		<string>SCALERIGHTT</string>
		<string>SCAN</string>
		<string>SCANPARITY</string>
		<string>SDIGITS</string>
		<string>SECONDWORD</string>
		<string>SECURE</string>
		<string>SEEK</string>
		<string>SELECT</string>
		<string>SEMANTIC</string>
		<string>SEND</string>
		<string>SET</string>
		<string>SETABSTRACTVALUE</string>
		<string>SETACTUALNAME</string>
		<string>SETTOCHILD</string>
		<string>SETTOPARENT</string>
		<string>SIBS</string>
		<string>SIGN</string>
		<string>SIN</string>
		<string>SINGLE</string>
		<string>SINH</string>
		<string>SIZE</string>
		<string>SKIP</string>
		<string>SOME</string>
		<string>SORT</string>
		<string>SPACE</string>
		<string>SQRT</string>
		<string>STACKER</string>
		<string>STACKNO</string>
		<string>STACKSIZE</string>
		<string>STARTINSERT</string>
		<string>STARTMODIFY</string>
		<string>STARTTIME</string>
		<string>STATION</string>
		<string>STATUS</string>
		<string>STEP</string>
		<string>STOP</string>
		<string>STOPPOINT</string>
		<string>STORE</string>
		<string>STRING</string>
		<string>STRING4</string>
		<string>STRING7</string>
		<string>STRING8</string>
		<string>STRINGPROTECT</string>
		<string>STRUCTURE</string>
		<string>STRUCTURENUMBER</string>
		<string>SUBFILE</string>
		<string>SUBROLE</string>
		<string>SWITCH</string>
		<string>SYNCHRONIZE</string>
		<string>TADS</string>
		<string>TAIL</string>
		<string>TAKE</string>
		<string>TAN</string>
		<string>TANH</string>
		<string>TARGETTIME</string>
		<string>TASK</string>
		<string>TASKATTERR</string>
		<string>TASKFILE</string>
		<string>TASKVALUE</string>
		<string>TERMINAL</string>
		<string>TEST</string>
		<string>THEN</string>
		<string>THIS</string>
		<string>THISCL</string>
		<string>THRU</string>
		<string>TIME</string>
		<string>TIMELIMIT</string>
		<string>TIMES</string>
		<string>TITLE</string>
		<string>TO</string>
		<string>TRANSACTION</string>
		<string>TRANSITIVE</string>
		<string>TRANSLATE</string>
		<string>TRANSLATETABLE</string>
		<string>TRUE</string>
		<string>TRUTHSET</string>
		<string>TRY</string>
		<string>TYPE</string>
		<string>UNITS</string>
		<string>UNLOCK</string>
		<string>UNLOCKED</string>
		<string>UNPACKED</string>
		<string>UNREADYCL</string>
		<string>UNTIL</string>
		<string>URGENT</string>
		<string>USERCODE</string>
		<string>USERDATA</string>
		<string>USERDATALOCATOR</string>
		<string>USERDATAREBUILD</string>
		<string>USING</string>
		<string>VALUE</string>
		<string>WAIT</string>
		<string>WAITANDRESET</string>
		<string>WAITFORFILE</string>
		<string>WHEN</string>
		<string>WHERE</string>
		<string>WHILE</string>
		<string>WITH</string>
		<string>WORDS</string>
		<string>WRITE</string>
		<string>WRITEFORM</string>
		<string>ZERODIVIDE</string>
		<string>ZIP</string>
	</array>
	<key>BBLMScansFunctions</key>
	<true/>
	<key>BBLMFunctionPattern</key>
	<string>(?i)^\s*(?:procedure|integer\s+procedure|real\s+procedure)\s+([A-Za-z_][A-Za-z0-9_]*)</string>
	<key>BBLMColorsSyntax</key>
	<true/>
	<key>BBLMCommentLineDefault</key>
	<string>%</string>
	<key>BBLMBlockCommentStart</key>
	<string>COMMENT</string>
	<key>BBLMBlockCommentEnd</key>
	<string>;</string>
	<key>BBLMStringPattern</key>
	<string>"(?:[^"\\]|\\.)*"</string>
	<key>BBLMPredefinedNameList</key>
	<array>
		<string>$STRINGS</string>
		<string>$INCLUDE</string>
		<string>$CHECK</string>
		<string>$CODE</string>
		<string>$LEVEL</string>
		<string>$LINEINFO</string>
		<string>$LIST</string>
		<string>$SET</string>
		<string>$POP</string>
		<string>$PAGE</string>
		<string>$SHARING</string>
		<string>$SINGLE</string>
		<string>$STACK</string>
		<string>$STATISTICS</string>
		<string>$TADS</string>
		<string>$VERSION</string>
	</array>
</dict>
</plist>
